name: Publish to PyPI

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "latest"

      - name: Build package
        run: uv build --no-sources

      - name: Publish to PyPI
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
